.contents-header-title {
    font-weight: bold;
    font-size: 1em;
    color:#f00;
    text-align: center;
}
.top_media {
    height: 1080px;
    background-size: auto 320px;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../client/image/c_susybang.jpg");
}

#log {
    font-size:30px;
    color:#0f0;
}

.top_media_title {
    text-align: center;
    color:white;
    position: relative;
    display: block;
    font-size: 60px;
    margin-top:60%;
}

.mid_medias {
    width:100%;
    height:800px;
}