.contents-header-title {
    font-weight: bold;
    font-size: 1em;
    color:#f00;
    text-align: center;
}
.top_media {
    height: 1080px;
    background-color:#333;
}

#log {
    font-size:30px;
    color:#0f0;
}